.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.form {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  max-width: 700px;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  border: 4px solid rgb(5, 147, 241);
  border-radius: 1rem;
}

input {
  padding: 1rem;
  border-radius: 1rem;
}

.button {
  background-color: rgb(5, 147, 241);
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
}